@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* background-color: black; */
  font-family: "Inter", sans-serif;
  /* background-repeat: no-repeat; */
}

header {
  background: linear-gradient(180deg, rgb(17, 17, 17), rgba(51, 51, 51, 0) 100%),
    linear-gradient(0deg, rgb(17, 17, 17), rgba(51, 51, 51, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 100;
}
main {
  background-color: black;

  /* border: 3px solid white; */
}

* {
  margin: 0%;
}

/* shared styles */
.d-flex {
  display: flex;
}

.text-primary {
  color: white;
}
.text-secondary {
  color: rgba(255, 255, 255, 0.5);
}
.text-info {
  color: rgb(230, 83, 60);
}

.bg-primary {
  background-color: rgb(230, 83, 60);
}
.bg-secondary {
  background-color: rgb(34, 34, 34);
}
.bg-info {
  background-color: rgba(255, 255, 255, 0.1);
}

/* navbar styles start  */
.nav-area {
  width: 80vw;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
}
.nav-name h2 {
  font-size: 3.5rem;
  font-weight: 900;
}
.nav-options {
  display: flex;
  align-items: center;
  gap: 2.9rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  margin: 10px 0px;
}
.nav-item {
  padding: 14px 25px;
  border-radius: 46px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
#ham-bargur {
  display: none;
}
/* navbar styles end  */

/* banner section style start  */
.banner-area {
  width: calc(100% - 5px);
  z-index: 100;
  /* border: 2px solid white;  */
}
.banner-content {
  width: 80vw;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.banner-left-area {
  width: 40%;
  /* margin-top: 20px; */
  margin-right: 167px;
  margin-bottom: 76px;
}
.banner-left-area h1 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
  line-height: 1;
  margin-bottom: 28px;
}
.banner-left-area p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 28px;
}
.btn-primary {
  background-color: rgb(230, 83, 60);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 42px;
  padding: 15px 32px;
  border: none;
  margin-right: 10px;
}
.btn-secondary {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 42px;
  padding: 15px 32px;
  /* margin-left: 14px; */
}

#banner-inner {  height: 80%;
  font-family: "Playwrite BE VLG", cursive;
  font-size: 4.75rem;
  font-weight: 400;
}

.banner-right-area {
  width: 40%;
  height: 58vh;
  background-image: url(./images/Images-2.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  margin-top: 10px;
  position: relative;
  /* border: 1px solid steelblue; */
}

.banner-right-img{
  width: 60%;
  height: 58vh;
  margin: 0px auto;
}

.position{
  position: absolute;
}


.card-1 {
  border: 1px solid white;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  letter-spacing: 1px;
  padding: 20px;
}
.card-1 h2 {
  font-size: 2.5rem;
  font-weight: 900;
  /* text-align: center; */
}
.card-1 p {
  font-size: 1rem;
}

#card1 {
  width: 180px;
  height: 60px;
  position: relative;
  left: 350px;
  top: -450px;
}

#card2 {
  width: 180px;
  height: 60px;
  position: relative;
  right: -20px;
  bottom: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(230, 83, 60);
}
.play {
  display: none;
}
/* banner section style end  */

/* main section habit area start  */
.habit-content {
  width: 80vw;
  margin: 0px auto;
  padding-top: 100px;
  /* border: 1px solid steelblue; */
}

.habit-heading-area {
  width: 65vw;
  margin: 0 auto;
  /* border: 1px solid saddlebrown; */
  text-align: center;
  position: relative;
  z-index: 100;
}
.habit-heading-area h2 {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
}
.habit-heading-area p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}

.habit-image-area {
  /* display: grid; 
    margin: auto;
    grid-template-columns: repeat(4, 1fr); */

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.img-container {
  /* border: 1px solid rebeccapurple; */
  width: 18%;
  justify-content: space-between;
}
.img-container img {
  width: 100%;
  border-radius: 50%;
  /* margin-left: 38px; */
}
.img-container h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.img-container p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 0.3px;
  /* margin-top: 30px; */
}

/* main section habit area end  */

/* extra-mile-container start  */
.extra-mile-container {
  width: 80vw;
  margin: 0 auto;
  padding-top: 100px;
}
.extra-mile-content {
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  padding: 40px 80px 40px 50px;
  justify-content: space-between;
  align-items: center;
}
.extra-mile-left-area {
  width: 40%;
}
.extra-mile-left-area h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.extra-mile-left-area p {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 34px;
}
.extra-mile-right-area {
  width: 40%;
  padding-top: 10px;
}
.extra-mile-right-area img {
  width: 100%;
  border-radius: 18px;
}
/* extra-mile-container end  */

/* bmi style  ===================================================*/
.bmi-heading {
  width: 40vw;
  margin: 100px auto;
}
.bmi-heading h2 {
  font-size: 3rem;
  font-weight: 900;
}
.bmi-heading p {
  font-size: 1.5rem;
}

.bmi-content-container {
  width: 100%;
  background-color: rgb(34, 34, 34);
  padding-bottom: 40px;
}
.bmi-content {
  display: flex;
  justify-content: space-around;
  
}
/* .bmi-calculator-chart{
  padding-top: 50px;
} */
.bmi-calculator-chart h3 {
  font-size: 2rem;
  font-weight: 900;
  padding: 80px 0px;
}

table,
tr,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px 35px;
  border-collapse: collapse;
  text-align: left;
}


.bmi-calculate{
  width: 50%;
}

.bmi-calculate h3 {
  font-size: 2rem;
  font-weight: 900;
  padding-top: 80px;
  margin-bottom: 20px;
}

.bmi-calculate p{
  margin-bottom: 20px;
  width: 85%;
}

.bmi-input-area{
  width: 100%;
}

.bmi-height-weight{
  width: 100%;
}
.height-weight{
  width: 32%;
  padding: 20px 45px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 8px;
  text-align: left;
  margin: 10px 10px 10px 0px;
}

.bmi-age-sex{
  width: 100%;
}
.age-sex{
  width: 41.5%;
  padding: 20px 45px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 8px;
  text-align: left;
  margin: 10px 10px 10px 0px;
}
.age-sex option{
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
}

.selectss{
  width: 84.2%;
  padding: 20px 45px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 8px;
  text-align: left;
  margin: 10px 10px 25px 0px;
}

/* meet our team style  */
.team-section-container{
  padding-bottom: 50px;
}
.team-heading {
  text-align: center;
  padding: 80px 0px 0px 0px;
}
.team-heading h3 {
  font-size: 3rem;
  font-weight: 900;
}
.team-heading {
  font-size: 1.5rem;
}
.team-image-area {
  width: 80vw;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  /* border: 1px springgreen solid; */
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
  align-items: center;
  justify-content: center;
}
.team-image-card {
  background-color: black;
  border-radius: 18px;
}
 .size{
  width: 25vw;
  height: 35vh;
 }

 .shadow-box{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.3;
  bottom: 0px;
  left: 0px;
  border-radius: 18px;
  /* z-index: 10; */
}

.img-1{
  border-radius: 18px;
  padding: 10px;
  background-image: url(./images/trainer1.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.img-2{
  border-radius: 18px;
  padding: 10px;
  background-image: url(./images/trainer2.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.img-3{
  border-radius: 18px;
  padding: 10px;
  background-image: url(./images/trainer3.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.img-4{

  border-radius: 18px;
  padding: 10px;
  background-image: url(./images/trainer4.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.img-5{
  border-radius: 18px;
  padding: 10px;
  background-image: url(./images/trainer5.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.img-6{
  border-radius: 18px;
  padding: 10px;
  background-image: url(./images/trainer6.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.tr-name {
  font-size: 1.2rem;
  font-weight: 900;
}
.positions {
  position: relative;
  left: 35px;
  bottom: -270px;
}

/* footer section style  */
.footer-section{
  width: 100%;
  /* padding-top: 80px; */
  background-color: rgb(34, 34, 34);
}

.rights{
  text-align: center;
  font-size: 1.2rem;
  padding: 20px 0px 40px;
}
.footer-content{
  width: 80%;
  margin: 0px auto 30px;
  display: flex;
  padding: 50px 0px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-left-area{
  width: 45%;
  /* border: 1px salmon solid; */
}
.footer-left-area h3{
  font-size: 3.5rem;
  font-weight: 900;
  margin: 20px 0px;
  cursor: pointer;
}
.footer-left-area p{
  font-size: 1.3rem;
}
.footer-right-area{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.footer-right-area h3{
  font-size: 2rem;
  margin: 20px 0;
  cursor: pointer;
}

.footer-right-area li{
  list-style: none;
  padding: 10px 0px;
  margin-left: -37px;
  cursor: pointer;
  font-size: 1.5rem;

} 



/* Responsive area  */
@media screen and (max-width: 576px) {
  .nav-options {
    border: none;
  }
  .nav-item {
    display: none;
  }
  #ham-bargur {
    display: block;
    color: white;
  }
  /* ..banner-area */
  .banner-content {
    flex-direction: column;
    padding: 0;
  }
  .banner-area{
    padding-bottom: 1px;
  }

  #banner-inner {
    font-family: "Playwrite BE VLG", cursive;
    font-size: 2.5rem;
    /* font-weight: 400; */
  }
  .banner-left-area {
    width: 80vw;
    margin: 0 auto 20px;
  }
  .banner-left-area h1 {
    font-size: 2rem;
    /* margin-top: 20px; */
  }
  .btn {
    display: flex;
    gap: 20px;
  }
  .btn button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .banner-right-area {
    width: 100%;
  }
  .banner-right-area-content{
    width: 75%;
    margin: 0px auto;
    /* position: relative; */
  }
  .position{
    position: absolute;
    width: 100%;
    /* border: 1px solid yellow; */
  }
  /* .banner-right-area-content img {
    width: 350px;
  } */
  #card1 {
    width: 135.91px;
    height: 64.09px;
    padding: 10px;
    position: relative;
    left: 60%;
    bottom: 0px;
  }

  .card-1 h2 {
    font-size: 1.8rem;
    font-weight: 900;
    /* text-align: center; */
  }
  .card-1 p {
    font-size: 0.8rem;
  }
  #card2 {
    width: 150px;
    height: 60px;
    position: relative;
    right: 29px;
    bottom: 253px;

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .circle {
    width: 45px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(230, 83, 60);
  }
  .play {
    display: block;
    position: absolute;
    left: 26px;
    top: 34px;
  }
  /*---------------------- main section habit area */
  .habit-content {
    padding-top: 5px;
  }
  .habit-heading-area {
    margin: 0;
    width: 100%;
  }
  .habit-heading-area h2 {
    font-size: 2rem;
    padding: 5px 0px;
  }
  .habit-heading-area p {
    font-size: 1rem;
    padding: 5px 0px;
  }
  .habit-image-area {
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
  }
  .img-container {
    width: 80%;
  }
  .img-container h3{
    font-size: 1.5rem;
  }

  /* ----------------------extra-mile-container-------------- */

  .extra-mile-container {
    padding-top: 50px;
  }
  .extra-mile-content {
    flex-direction: column;
    padding: 0px 10px 0px 0px;
  }
  .extra-mile-left-area,
  .extra-mile-right-area {
    width: 80%;
  }
  .extra-mile-left-area h2 {
    padding-top: 20px;
    font-size: 2rem;
  }
  .extra-mile-left-area p {
    /* font-size: 0.9rem; */
    margin-top: 10px;
  }
  .extra-mile-left-area button {
    font-size: 1rem;
    padding: 13px 96px;
    width: 100%;
  }
  .extra-mile-right-area {
    padding: 20px;
  }

  /* BMI section  */
  .bmi-heading {
    width: 80vw;
    margin: 68px auto;
  }
  .bmi-heading h2 {
    font-size: 2rem;
  }
  .bmi-heading p{
    font-size: 1rem;
    padding-top: 10px;
  }
  .bmi-calculator-chart h3 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 47px 0px;
  }

  .bmi-calculate{
    width: 100%;
  }
  .bmi-calculate h3 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 47px;
  }
  .bmi-calculate p {
    width: 100%;
    padding-top: 25px;
  }
  .bmi-content {
    display: flex;
    flex-direction: column;
  }
  .bmi-content {
    /* width: 40vw; */
    padding: 0px 40px 0 40px;
  }
  .bmi-input-area {
    width: 100%;
  }
  .bmi-height-weight {
    display: flex;
  }
  .height-weight {
    width: 50%;
    padding-left: 20px;
  }
  .bmi-age-sex {
    display: flex;
    width: 100%;
  }
  .age-sex {
    padding-left: 20px;
  }
  #selectSex {
    width: 66%;
  }
  #selects {
    width: 97%;
  }
  .btn-primary {
    padding: 13px 50px;
    font-size: 1rem;
  }

  /* our team  */
  .team-heading {
    padding: 20px 50px 0px;
  }
  .team-heading h3 {
    font-size: 2rem;
    padding-top: 25px;
  }
  .team-heading p{
    font-size: 1rem;
    padding-top: 10px;
  }
  .team-image-area {
    grid-template-columns: repeat(1, 1fr);
    width: 70vw;
  }
 
  .size{
    width: 70vw;
  }
  
  .positions {
    left: 5px;
  }
  /* footer section styles  */

  .footer-section{
    width: 100%;
    /* border: 1px solid salmon; */
  }
  .footer-content{
    width: 100%;
    /* border: 1px solid seagreen; */
  }
  .footer-content{
    width: 80%;
    flex-direction: column;
    padding: 20px;
  }
  .footer-left-area{
    width: 100%;
  }
  .footer-left-area h3{
    font-size: 2.8rem;
  }
  .footer-left-area p{
    font-size: 1.1rem;
  }
  .footer-right-area{
    width: 100%;
    flex-direction: column;
  }
  .footer-right-area li{
    padding: 10px 0px;
    font-size: 1rem;
  }
  .footer-right-area h3{
    font-size: 1.8rem;
  }
}
